*{
  box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

form {
  width: 75%;
  margin: 25px auto;
}

fieldset{
  border: 1px solid lightgrey;
  
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
 width: 80%;
 
}

button {
  width: 15%;
  float: right;
}

.results {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

div {
  margin: 5px 0px 5px 0px;
}

img {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  
}