*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  border-bottom: 1px solid #999;
  padding: 0px 20px 10px 20px;
  display: inline;
}

form {
  width: 75%;
  margin: 25px auto;
}

fieldset{
  border: 1px solid lightgrey;
  
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
 width: 80%;
 
}

searchButton {
  width: 15%;
  float: right;
}

.results {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

div {
  margin: 5px 0px 5px 0px;
}

img {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  
}

.videoModal {
   display: none; 
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   background-color: rgb(0,0,0); 
   /* for no alpha support */
   background-color: rgba(0,0,0,.9); 
}

.video {
  background-color: black;
  height: 500px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
}

.more {
  display: none;
  width: 150px;
  font-size: 16px;
  margin: 10px auto 150px auto;
  color: white;
  background-color: red;
  border: 1px solid #444;
}

p[role=alert] {
  color: white;
  height: 25px;
  margin: 60px auto;
  font-size: 30px;
  text-align: center;
}